<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../src/css/dashboard.css">
</head>

<body>
    <%- include("./src/partials/index") %>
        <script defer="true">
            const partial_guilds = <%- JSON.stringify(session.guilds) %>;

            function addGuilds() {
                const container = document.querySelector("#guilds");

                show_guilds();
                document.querySelectorAll("#dummy").forEach(e => e.remove()); // eliminar los dummies

                const childs = document.querySelectorAll(".guild-child");
                for (const container of childs) {
                    const bg = document.createElement("div");
                    bg.id = "bg";
                    bg.style.width = "100%";
                    bg.style.height = "100%";

                    const partialguild = partial_guilds.find(x => x.id === container.id);
                    if (!partialguild) continue;

                    const icon = `https://cdn.discordapp.com/icons/${container.id}/${partialguild.icon}.png`
                    bg.style["background-color"] = "transparent;";

                    const circle = document.createElement("img")
                    circle.id = "icon";

                    if (partialguild.icon) {
                        circle.src = icon;

                        bg.style.background = `url('${icon}') center center / cover no-repeat`;

                    } else {
                        circle.src = `/src/svg/discord.svg`
                    }
                    container.appendChild(circle)
                    container.appendChild(bg)

                    // texto
                    const w = document.createElement("div")
                    w.id = "info";

                    const texto = document.createElement("p");
                    texto.innerText = `${partialguild.name}`

                    if(partialguild.name.length > 30) w.style.fontSize = "10px";
                    w.appendChild(texto)
                    container.appendChild(w);
                }

                // event click
                const clickeable_guilds = document.querySelectorAll(".guild-child");
                clickeable_guilds.forEach(g => g.addEventListener("click", (click) => handleGuilds(click)));

                function handleGuilds(click) {
                    const target = click.target;
                    var parent = target.parentNode

                    if (isNaN(parent.id)) parent = parent.parentNode;

                    window.location.href = `/dashboard/${parent.id}`;
                }
            }

            function show_guilds() {
                const container = document.querySelector("#guilds");
                for (const guild of partial_guilds) {
                    let element = document.createElement("div")
                    element.classList.add("guild-child")
                    element.id = guild.id

                    container.appendChild(element)
                }
            };

            function getPartialGuildById(query) {
                return partial_guilds.find(x => x.id === query);
            }

        </script>
        <% if(!session.discord_user) { %>
            <script>
                window.location.replace("/logout")
            </script>
            <% } %>
                <%
                let url=req.url.split("/");
                let q=url.find(x=> x.match(/\d+/)); 
                let guildId = q?.replace(/\D+/, "");
                %>
                    <% if(!guildId){ %>
                        <div class="container first">
                            <h2>Administra un servidor</h2>
                            <div class="boxes" id="guilds">
                                <div class="guild-child" id="dummy"></div>
                                <div class="guild-child" id="dummy"></div>
                                <div class="guild-child" id="dummy"></div>

                                <div class="guild-child" id="dummy"></div>
                                <div class="guild-child" id="dummy"></div>
                                <div class="guild-child" id="dummy"></div>
                            </div>
                        </div>
                        <script>addGuilds()</script>
                        <%- include("./src/partials/footer") %>
                            <% } else { %>
                                <dashboard class="first">
                                    <div class="sidebar-wrap">
                                        <div id="sidebar">
                                            <a id="title" href="/dashboard">
                                                <h1 class="title">
                                                    < Dashboard</h1>
                                            </a>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="container sidebar">
                                        <a id="guildhome" href="#">
                                            <h2 id="gname"></h2>
                                        </a>
                                    </div>
                                    <script src="../src/js/Dashboard.js"></script>
                                    <script>
                                        document.querySelector("div.container").classList.remove("wrapper");
                                        var g = '<%- guildId %>';

                                        function initDashboard(data) {
                                            console.log(data)
                                            if (data.guild.code) {
                                                window.location.replace("/dashboard/")
                                                window.open(`/invite/?guildId=${g}`, '_blank').focus();
                                            }
                                            
                                            let { guild, channels } = data;

                                            console.log(data)

                                            guild.channels = channels;

                                            document.title += ` — ${guild.name}`;

                                            const dashboard = new Dashboard(guild, <%- JSON.stringify(Enums.ApiUpdate) %>)
                                            .setUrl('<%-req.url%>');
                                            dashboard.init();
                                        }

                                            <%
                                            let cached = req.cookies[`fetchedGuild-${guildId}`];
                                            let guildObj = session.guilds?.find(x => x.id === guildId);
                                            if(!cached) {
                                            %>
                                                fetch("/api/get-guild", {
                                                    headers: {
                                                        "guildid": g
                                                    }
                                                }).then(res => res.json())
                                                    .then(obj => {
                                                        initDashboard(obj);
                                                    })
                                            <%} else if(guildObj.channels) {
                                                let channelsObj = guildObj?.channels;
                                                cached = { guild: guildObj, channels: channelsObj }
                                                //console.log(cached)
                                            %>
                                                initDashboard(<%- JSON.stringify(cached) %>);
                                            <%} else {
                                                res.clearCookie(`fetchedGuild-${guildId}`);
                                            %>
                                                window.location.replace("/logout")
                                            <%}%>
                                    </script>
                                </dashboard>
                                <%}%>
</body>
</html>