<link rel="stylesheet" href="../css/footer.css">

<footer>
    <div class="left">
        <div id="brand">
            <h2>Jeffrey Bot</h2>
            <p>Bot multifuncional que usualmente funciona bien desde 2018</p>
        </div>
        <div id="copyright">
            Copyright 2018 - Colored Stealth
        </div>
    </div>
    <div class="right">
        <div id="jeffreyg">
            <h3>Creador</h3>
            <a href="/social/discord">
                <%- include("../svg/discord.svg") %>
            </a>
            <a href="/social/youtube">
                <%- include("../svg/youtube.svg") %>
            </a>
            <a href="/social/twitter">
                <%- include("../svg/twitter.svg") %>
            </a>
        </div>
        <div id="social">
            <h3>Ayuda</h3>
            <a href="/support/discord">
                <%- include("../svg/discord.svg") %>
            </a>
            <a href="/support/github">
                <%- include("../svg/github.svg") %>
            </a>
        </div>
    </div>
</footer>